{% load i18n %}

<div class="row">
        <div class="col-m-12 col-9">
        <h3>{% trans "Events" %}</h3>
        {% for event in events %}
                <div class="box row shadow">
                    <div class="col-m-12 col-2">
                        {% if event.image %}
                        <div class="img">
                            <img class="responsive-img" src="{{event.image.url}}" alt="">
                        </div>
                        {% endif %}
                    </div><!--End of col-2-->
                    
                    <div class="col-m-12 col-8">
                        <div class="content">
                            <h4>{{event.name}}</h4>
                            <div class="description">
                                <p>{{event.description}}</p>
                            </div>
                            <div class="details">
                                 
                                <span>{{event.when}}</span> - 
                                <span>{{event.where}}</span> -
                                <span>{{event.country}}</span> - 
                                <span>{{event.city}}</span>
                            </div>
                        
                        </div>
                    </div><!--End of col-8-->
                    <div class="col-m-12 col-2">
                        <div class="actions">
                            <span> <a class="mat-button mat-button-outlined" href="{% url 'dashboard:event-detail' event.event_uuid %}">{% trans "Details" %}</a></span>
                            
                        </div>
                    </div><!--End of col-2-->
                    
                
                    
                </div>
        
        {% empty %}
            <p>{% trans "There is no events currently. You can revisite this page at a later time." %}</p>
        {% endfor %} 

        {% include "tags/pagination.html" %} 
        </div>

</div>