{% load i18n %}
{% load static %} 

{% if categories %}
<div id="root-category-list" class="category-nav">
    <ul class="list-horizontal">
            {% for c in categories %}
                {% if c in CATEGORY_PATHS  %}
                <li class="active"><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.name %}</span></a></li>
                {% else %}
                <li><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.name %}</span></a></li>
                {% endif %}
            {% endfor %}
            
    </ul><!--End of list-->
    {% include 'tags/search_bar.html' with cls="hidden-m" %}
</div>
{% endif %}
