{% extends "event_base.html" %}
{% load i18n %}

{% block HEADER_BANNER %}
<div class="banner">
    <div class="grid">

    </div>
</div>
<nav class="nav">
    <ul class="nav nav-h">
     {% for category in categories %}
        <li class="item"><a class="mat-button mat-button-text" href="{% url 'events:category-events' category.slug %}">{% trans category.name %}</a></li>
     {% endfor %}
    </ul>
</nav>
{% endblock HEADER_BANNER %}


{% block MAIN %}
<div class="container">
    {% include "tags/event_list_snippet.html" with events=events %}
</div>

{% endblock MAIN %}