{% extends "event_base.html" %}
{% load i18n %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="container">
            <div class="col-m-12 col-9">
                <div class="banner--content flex-column">
                    <div class="row row-left"><span class="item"><h4>{{event.name}}</h4></span></div>
                    <div class="row row-left subtitle"><span class="item"><i class="fas fa-map-marked"></i> <span>{{event.address}}</span></span></div>
                    <div class="row row-left ">
                        <span class="item"><i class="far fa-calendar-alt"></i> <span>{{event.when}}</span></span>
                    </div>
                    <div class="row row-left ">
                        <span class="item"><i class="fas fa-map-marker-alt"></i> <span>{{event.where}} - </span>
                        <span>{{event.city}}</span> - <span>{{event.country}}</span></span>
                    </div>
                    <div class="row row-left ">
                        <span class="item"><i class="icon far fa-money-bill-alt"></i> <span>{% if event.entree_fee %}{{event.entree_fee}}{% else %}{% trans "Entree free" %}{% endif %}</span></span>
                    </div>
                    <div class="row row-left ">
                        <span class="item"><i class="fas fa-user"></i> <span>{{event.organised_by}}</span></span>
                    </div>
                </div><!--End of Banner-Content-->
                <div class="banner--actions">
                    {% if is_favorite %}
                    <a class="mat-button mat-button-outlined" href="{% url 'events:event-unlike' event.event_uuid %}">{% trans "UNLIKE" %}</a>
                    {% else %}<a class="mat-button mat-button-outlined" href="{% url 'events:event-like' event.event_uuid %}">{% trans "LIKE" %}</a>{% endif %}
                    <span>
                    {% if event.entree_fee %}
                    <a class="mat-button mat-button-default" href="{% url 'events:event-buy-ticket'  event.event_uuid %}">{% trans "Buy Ticket" %}</a>
                    {% endif %}</span>
                    {% if is_taking_part %}
                    <a class="mat-button mat-button-default" href="{% url 'events:event-remove-participant'  event.event_uuid %}">{% trans "Cancled Participation" %}</a>
                    
                    {% else %}
                    <a class="mat-button mat-button-default" href="{% url 'events:event-add-participant'  event.event_uuid %}">{% trans "I will be there" %}</a>
                    {% endif %}
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        </div><!--End of Container-->
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
    <div class="row row-left">
        <div class="col-m-12 col-3">
            <div class="row row-right">
                <a class="mat-button mat-button-outlined" href="{% url 'events:event-home' %}">{% trans "Back To Event Home" %}</a>
            </div>
        </div>
        <div class="col-m-12 col-9">
            
        </div>
    </div>
    <div class="mat-card">
        <div class="mat-card--body">
            <p>{{event.description}}</p> 
        </div>
        <div class="mat-card--footer">
            
        </div>
    </div>
    <div class="mat-box">
        <table class="mat-table">
            <tr>
                <th>{% trans "Number of Participants" %}</th><th>{% trans "Number of Like" %}</th>
            </tr>
            <tbody>
                <tr>
                    <td>{{monitoring.participants}}</td><td>{{monitoring.likes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock MAIN %} 