{% extends "dashboard_base.html" %}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Tickets" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col-m-12 col-9">
                <div class="banner--actions">
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}">{% trans "Dashboard" %}</a> 
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN_CONTENT %}
<div class="container">
    <ul class="mat-list">
        {% for ticket in ticket_list %}
        <li class="mat-list-item"><a class="mat-button mat-button-text" href="{{ticket.get_dashboard_url}}"><span>{{ticket.code}}</span><i class="seperator-ht"></i><span>{{ticket.event.name}}</span> <span>{{ticket.created_at|date:"M j, Y"}}</span></a></li>
        {% endfor %}
    </ul>
    {% include "tags/pagination.html" with page_set=ticket_list %}
</div>

{% endblock MAIN_CONTENT %}