

<!-- START FOOTER -->
<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
        <span class="apple-link">{{SITE_NAME}},E-Mail : info@atalaku.com.</span>
        <br><span><i>Evenements en Afrique</i></span>
        <br><span>Votre espace de publication</span>
        </td>
    </tr>
    <tr>
        <td class="content-block powered-by">
        Crée par <a href="{{SITE_HOST}}">{{SITE_NAME}}</a>.
        </td>
    </tr>
    </table>
</div>
<!-- END FOOTER -->